.main {
  padding: 30px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.main__titles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 400px) {
    flex-direction: column;
    gap: 20px;
  }
}

.main__title {
  font-size: 28px;
  color: black;
}

.main__filter-switch {
  font-size: 18px;
  color: $orange;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 15px;
  border: 2px solid $orange;
  &:hover {
    background-color: $orange;
    color: white;
  }
}

.main__filters-holder {
  background-color: rgba(0, 0, 0, 0.03);
  margin-top: 15px;
  border-radius: 10px;
}

.main__filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  display: none;
  &--active {
    display: flex;
  }
}

.filter__input-holder {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter__input-word {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

#nameFilterInput {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 17px;
  box-sizing: border-box;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  @media (max-width: 340px) {
    padding: 5px 0;
  }
}

#statusFilterSelect,
#importanceFilterSelect {
  box-sizing: border-box;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 17px;
  padding: 10px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.card__short-info,
.card__full-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__full-info {
  display: none;
}

.card__short-info {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba($orange, 0.9);
    bottom: -25px;
    border-radius: 50px;
    display: none;
  }
}

.options__long {
  display: none;
}

.options {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 5px;
  right: 40px;
  display: none;
}

.card__element {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  max-width: 600px;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
  position: relative;
  &:hover {
    .options {
      display: flex;
    }
  }
  &--open {
    .card__full-info {
      display: flex;
    }
    .card__short-info:after {
      display: block;
    }
    .options__long {
      display: block;
    }
  }
}

.card__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__name {
  font-size: 41px;
  font-weight: bold;
  @media (max-width: 600px) {
    max-width: 300px;
  }
  @media (max-width: 476px) {
    font-size: 31px;
  }
  @media (max-width: 340px) {
    max-width: 150px;
  }
}

.card__doctor {
  font-size: 31px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  @media (max-width: 476px) {
    font-size: 21px;
  }
}

.card__text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  font-weight: 600;
  @media (max-width: 476px) {
    font-size: 14px;
  }
}

.card__value {
  max-width: 150px;
  text-align: right;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  @media (max-width: 476px) {
    font-size: 14px;
    line-height: 15px;
  }
}

.card__showmore {
  color: $orange;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  &:hover {
    text-decoration: underline;
  }
}

.options__icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.buttons {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.card__button {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.buttons-submit {
  border: 2px solid greenyellow;
  color: rgba(0, 0, 0, 0.7);
}
.buttons-cancel {
  border: 2px solid rgba(red, 0.6);
  color: rgba(0, 0, 0, 0.7);
}

.card__name-input {
  border: none;
  outline: none;
  font-size: 41px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: rgba(black, 0);
  @media (max-width: 476px) {
    font-size: 31px;
  }
}

.card__doctor-input {
  border: none;
  outline: none;
  font-size: 31px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(black, 0);
  @media (max-width: 476px) {
    font-size: 21px;
  }
}

.card__edit-importancy {
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  background-color: rgba(black, 0);
  color: rgba(0, 0, 0, 0.8);
}

.card__edit-input {
  border: none;
  outline: none;
  background-color: rgba(black, 0);
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.page__modal-holder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  overflow-y: scroll;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: $orange;
    bottom: -29px;
  }
}

.modal__title {
  font-size: 30px;
  font-weight: bold;
}

.modal__close {
  font-size: 30px;
  cursor: pointer;
}

.modal__short-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.modal__full-info {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.modal__input {
  outline: none;
  font-size: 20px;
  box-sizing: border-box;
  border: none;
  min-width: 400px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.modal__select {
  min-width: 400px;
  padding: 5px 0;
  outline: none;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.modal__input-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.modal__input-holder {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.modal__input-holder--cardiologist,
.modal__input-holder--dentist,
.modal__input-holder--therapist {
  display: none;
}

.modal__form {
  &--cardiologist {
    .modal__input-holder--cardiologist {
      display: flex;
    }
  }
  &--dentist {
    .modal__input-holder--dentist {
      display: flex;
    }
  }
  &--therapist {
    .modal__input-hoder--therapist {
      display: flex;
    }
  }
}

.modal__form-submit {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid $orange;
  background-color: rgba(0, 0, 0, 0);
  color: $orange;
  font-size: 18px;
  cursor: pointer;
}

.modal__button-holder {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.cards__nocards {
  font-size: 60px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
